# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Secrets
secrets.json
.env

# Database
*.db
*.sqlite

# Logs
*.log

# OS
.DS_Store
Thumbs.db

./cgm-remote-monitor/